---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "My Astro Bloggy Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>...sit down.</h2>
        <p>While I really like the idea of making webstes and coding apps, this git thing is really testing my patience.</p>
        <p>But I ain't gonna just sit down and fail! No No NO!</p>
        <ul>
  {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>

